body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 20px;
}

.google-yazi { 
    background-color: rgb(221, 220, 220);
    width: 1000px;
    margin: 2px auto;
    border: 2px solid #ccc;
    padding: 15px;
}
    
.search-input {
    width: 400px;
}

.left{
    background-color: rgb(120, 241, 235);
    float: left;
    width: 344px;
    height: 105px;
    margin: 1px;
    margin-left: 422px;
}

.center{
    background-color: rgb(120, 241, 235);
    float: left;
    width: 344px;
    height: 105px;
    margin: 1px;  
}

.right{
    background-color: rgb(120, 241, 235);
    width: 344px;
    float: left;
    margin: 1px;
    height: 105px;
}